<?xml version="1.0"?>

<model>
  <name>FitzB05</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Wesley Coot</name>
    <email>wescoot@umn.edu</email>
  </author>

  <description>
    A QR code object, which is a QR tag texture on a flat square.
  </description>

</model>
